@charset "utf-8";
/* CSS Document */
*
{
padding:0;
margin:0;	
}

a
{
	color:inherit;
	text-decoration:none;
}


html
{
	background-image:url(../luke_assets/LukeTurner_Background.jpg);
	background-size:cover;
}


html, body
{
	color:#fff;
	height:100%;
}

header
{
	position:fixed;
	top:0;
	height:80px;
	background-color:red;
	width:100%;
	box-shadow:0 0 20px rgb(0,0,0);
}

#HeaderContent
{
	
	height:80px;
	margin:0 auto;
	padding-top:22px;
}

#NavBar
{
	float:left;
	width:62.5%;
}

#NavBar ul
{
	list-style:none;
	
}

#NavBar ul li
{
	height:30px;
	float:left;
	width:20%;
	
}

#NavBar ul li img
{
	float:left;
	
}


#NavBar ul li span:hover
{
	opacity:1;
	
}

#NavBar ul li span
{
	top:6px;
	position:relative;

}

.invisible
{
	opacity:0;
}


.title
{
	font-size:1em;
	float:left;
	width:37.5%;
}

#Content
{
	position:relative;
	height:70%;
	margin:40px auto;
	background-color:grey;
}


footer p
{
	float:left;
}

#Container
{
	position:relative;
	height:100%;
	margin:0 auto;
	
	max-width:1168px;
}

#SocialMediaIcons
{
	float:right;
}

